[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
airtable-python-wrapper = "*"
pyopenstates = "*"
pdf2image = "*"
PyPDF2 = "*"
twython = "*"
Send2Trash = "*"
simplediff = "*"
imgkit = "*"
documentcloud = "*"
pyairtable = "*"
pillow = "*"

[requires]
python_version = "3.8"
